@{
    ViewData["Title"] = "Home";
}

<div class="container h-main-body">
    <div class="row">
        <div class="col-3">
            <h1 class="display-4 text-white">Welcome to MyPizzeria</h1>
        </div>
    </div>
    <a asp-controller="Pizzas" asp-action="Index" class="btn btn-light">Dai un'occhiata alle nostre pizze</a>.
</div>

@Html.Partial("_SectionPizzePopolariLayout")
