@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<img class="img-fluid" src="https://localhost:7009/images/pizza-background.jpg" />*@
    <h1 class="display-4 text-white">Welcome to MyPizzeria</h1>
    <a href="~/Pizzas/" class="text-white">Dai un'occhiata alle nostre pizze</a>.
</div>
